.width100 {
    width: 100%;
}
.usercontent {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.usericon {
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
