.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
}

.mdc-card--login {
    margin: auto;

    padding: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.credit-badge {
    margin-bottom: 1em;

    background-color: black;
    color: white;
    text-decoration: none;
    padding: 4px 6px;
    font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto,
        'Segoe UI', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
    & span {
        display: inline-block;
        padding: 2px 3px;
    }
    & svg {
        height: 12px;
        width: auto;
        position: relative;
        vertical-align: middle;
        top: -2px;
        fill: white;
    }
}
