.icon-container {
    height: calc(1rem + 0.5rem + 24px);
    width: calc(1rem + 0.5rem + 24px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.6rem;
}
