.width100 {
    width: 100%;
}
.nameAndIcon {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    * {
        margin: 0;
    }
    .editIcon {
        margin-left: auto;
        padding-right: 3px;
    }
}
