@import '../../index.scss';

.image-upload {
    position: relative;

    .hov {
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.25);
        color: mdc-theme-prop-value('text-primary-on-dark');

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &:hover .hov {
        opacity: 1;
    }
}
