@import '../../index.scss';
.userProfileView {
    max-width: 40rem;
    margin: auto;

    .header {
        background-color: $mdc-theme-primary;
        color: $mdc-theme-on-primary;
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        * {
            margin: 0;
        }
        .text {
            margin-left: 0;
            .title {
                padding-bottom: 0;
            }
            .subtitle {
                padding-top: 0;
                align-self: flex-end;
            }
        }
    }
    .save {
        color: $mdc-theme-primary;
        display: flex;
        align-content: center;
        justify-content: flex-end;
        * {
            margin-right: 0.1em;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .whiteBackground {
        * {
            background-color: white;
        }
    }
    .content {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        .rsvpSessions {
            padding: 1em;
            .scrollArea {
                overflow-y: scroll;
            }
        }
        .attendedEvents {
            padding: 1em;
            .scrollArea {
                overflow: scroll;
            }
        }
    }
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
