@import '../../../index.scss';
.userProfile {
    max-width: 40rem;
    margin: auto;

    .header {
        background-color: $mdc-theme-primary;
        color: $mdc-theme-on-primary;
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        .icon {
            cursor: pointer;
        }
        * {
            margin: 0;
        }
        .text {
            margin-left: 0;
            .title {
                padding-bottom: 0;
            }
            .subtitle {
                padding-top: 0;
                align-self: flex-end;
            }
        }
    }
    .save {
        color: $mdc-theme-primary;
        display: flex;
        justify-content: flex-end;
        .iconGroup {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
        }
        * {
            margin-left: 0.3em;
            margin-right: 0.1em;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .imageUploadArea {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    .content {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        .name {
            padding: 1em;
        }
        .email {
            padding: 1em;
            height: fit-content;
        }
    }
}
