$mdc-theme-primary: #008f4b;
$mdc-theme-secondary: #008f4b;
$mdc-typography-font-family: 'Open Sans';

@import '@material/button/mdc-button.scss';
@import '@material/card/mdc-card.scss';
@import '@material/checkbox/mdc-checkbox.scss';
@import '@material/dialog/mdc-dialog.scss';
@import '@material/drawer/mdc-drawer.scss';
@import '@material/fab/mdc-fab.scss';
@import '@material/floating-label/mdc-floating-label.scss';
@import '@material/form-field/mdc-form-field.scss';
@import '@material/icon-button/mdc-icon-button.scss';
@import '@material/layout-grid/mdc-layout-grid.scss';
@import '@material/line-ripple/mdc-line-ripple.scss';
@import '@material/linear-progress/mdc-linear-progress.scss';
@import '@material/list/mdc-list.scss';
@import '@material/menu-surface/mdc-menu-surface.scss';
@import '@material/menu/mdc-menu.scss';
@import '@material/notched-outline/mdc-notched-outline.scss';
@import '@material/radio/mdc-radio.scss';
@import '@material/ripple/mdc-ripple.scss';
@import '@material/select/mdc-select.scss';
@import '@material/textfield/mdc-text-field.scss';
@import '@material/theme/mdc-theme.scss';
@import '@material/top-app-bar/mdc-top-app-bar.scss';
@import '@material/typography/mdc-typography.scss';
@import '@material/switch/mdc-switch.scss';
@import '@rmwc/icon/icon';

html {
    font-family: 'Open Sans', sans-serif;
}

.drawer-container {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 64px);
}

.drawer-app-content {
    flex: auto;
    overflow-y: auto;
    margin: 0 !important;
}

.mdc-drawer--dismissible {
    position: inherit;
    margin: 0;
}

.mdc-card {
    overflow: hidden;
}

// This fixes an issue with Open Sans being cut off in input labels
.mdc-floating-label {
    height: 1.2em;
}

a {
    text-decoration: none;
    color: inherit;
}

.padded {
    padding: 1rem;
}

.padded-half {
    padding: 0.5rem;
}

.no-margin {
    margin: 0 !important;
}

.margin-right {
    margin-right: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.margin-auto {
    margin: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;

    &.flex-row {
        flex-direction: row;
    }

    &.align-center {
        align-items: center;
    }

    &.justify-space-between {
        justify-content: space-between;
    }

    .grow {
        flex: 1;
    }
}

img.responsive {
    width: 100%;
    height: auto;
}

img.responsive-height {
    width: auto;
    height: 100%;
}

.header {
    background-color: $mdc-theme-primary;
    color: $mdc-theme-on-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    & > * {
        margin-right: 1rem;
    }

    &:last-child {
        margin-right: 0;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        margin: 0;
    }
}
